.login-wrapper{
    
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    

}
.spacer {
        flex: 1 1 auto;
      }

      #error{
color:red;
      }
      .login{
        float:left;

      }
      .signup{
        float:right;
      }
    