<mat-card class="box" *ngIf="checkedItems.length === 0">
    <p class="text" >
        Your Shopping Cart looks empty! Check out the items in the home page.
    </p>
</mat-card>
<mat-card class="checked-items" *ngFor="let checkedItem of checkedItems">

    <mat-card-header>
        <mat-card-title>{{checkedItem.name}}</mat-card-title>
        <mat-card-subtitle>{{checkedItem.price}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{checkedItem.description}}
        </p>
    </mat-card-content>
    
    <mat-card-actions>

  <button class="add" mat-raised-button color="warn" (click)="deleteFromCart(checkedItem.id)">
    <mat-icon>delete</mat-icon>
  </button> 
</mat-card-actions>
</mat-card>

   
<div>
<button id="proceed-to-pay" (click)="proceedToPay()" mat-raised-button color="primary">
   Proceed To Pay
   </button>
</div>
