.checked-items{
 margin-top:30px;height: 170px;
}
#back-to-cart{
    margin-top:30px;
   float:left;
}
#proceed-to-pay{
    margin-top:30px;
    margin-left: 600px;
    margin-right: 500px;
    margin-bottom:30px;
}
.text{
    margin-top:30px;
    margin-left: 450px;

}