<div class="login-wrapper">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Signup</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSignup(signObj.email,signObj.password)">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Email" name="email" [(ngModel)]="signObj.email" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="signObj.password" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <div class="signup">
            <button type="submit" mat-raised-button color="primary" class="btn-block">Signup</button>
          </div>
        </form>
      </mat-card-content>
      <h5 id="refresh">Please refresh the page after signing up!</h5>
    </mat-card>
   
  
  </div>
